body{
    display: grid;
    font-family: arial;
    grid-template-columns:1fr 5fr;
    grid-template-rows:auto auto  ;
}
nav{
    padding-left: 10px;
    background-color: #23766B;
    color:white;
    grid-row:1;
    grid-column:1/5;
}
aside{
    padding-left: 10px;
    background-color: #79E4B7;
    padding-top: 10px;
    grid-column: 1/2;
    
}
main{
    padding-left: 10px;
    background-color: #F079D3;
    grid-column: 2/5;
   
    

}
footer{
    background-color: #0C16C8;
    grid-column: 1/5;
    color:white;
    
}
ul{
    text-decoration: none;
}