.article{
    border: 0.5px gray solid;
    width: 320px;
    /* grid-column:1; */
    /* grid-row: 1; */
    transition: transform 0.5s;
}



.articulos{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
    grid-gap:20px;
    font-family: arial;
    margin-bottom: 20px;
    
}
.article:hover {
    transform: scale(1.05);
}


img{
    width: 320px;
}