<%- include("header") %>
<form action="/comanda" method="post">
    <label for="usuario_id">usuario_id </label>
    <input type="text" name="usuario_id" id="usuario_id">
    <label for="producto_id">producto_id </label>
    <input type="text" name="producto_id" id="producto_id">
    <button type="submit">Enviar</button>
</form>
<%- include("footer") %>